html {
	height: 100%;
}

body {
	height: 100%;
	background: linear-gradient(to bottom, #ffcccc 50%, #ccffcc 50%);
}

#bottle {
	width: 150px;
	transition: transform 5s cubic-bezier(0.10, 0, 0.10, 0.98);
}

.player-name-anchor {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);

	background: transparent;
	font-size: 48px;
	color: #ffffff;
	-webkit-text-stroke: 0.5px black;
	font-weight: bold;
	text-shadow: #000000 0px 0px 0px, #000000 0 0 1px, #000000 0 0 2px;
}

.player-name-anchor:nth-of-type(1) {
	top: 20%;
}

.player-name-anchor:nth-of-type(2) {
	top: 80%;
}

.player-name {
	field-sizing: content;
	text-align: center;
	padding: 2rem;
	overflow: visible;

	animation-composition: accumulate;
}

.player-name.won {
	animation: 0.25s ease-in forwards grow, 1s pulse infinite;
}

@keyframes grow {
	100% {
		transform: scale(3);
	}
}

@keyframes pulse {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(2);
	}
}

#spinButton {
	margin-top: 20px;
}

#spinButton {
	position: absolute;
	bottom: 1em;
	left: 50%;
}