@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: linear-gradient(to bottom, #b96161 49.5%, #d0d0d0 49.5%, #f8f8f8, #f8f8f8 50.5%, #4c63a7 50.5%);
	box-shadow: inset 0em 0em 100em 0px rgb(0 0 0 / 50%);
	font-family: "Luckiest Guy";
}

.bottle-anchor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	filter: drop-shadow(10px 5px 10px rgb(0 0 0 / 66%));
}

#bottle {
	width: 600px;
	transition: transform 6s cubic-bezier(0.10, 0, 0.10, 0.98);
}

#spin-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.player-name-anchor {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 48px;
	color: #ffffff;
	-webkit-text-stroke: 0.5px black;
	text-shadow: #000000 0px 0px 0px, #000000 0 0 1px, #000000 0 0 2px;
}

.player-name-anchor:nth-of-type(1) {
	top: 15%;
}

.player-name-anchor:nth-of-type(2) {
	top: 85%;
}

.player-name {
	field-sizing: content;
	text-align: center;
	padding: 0.5rem 1.5rem;
	overflow: visible;

	transition: transform 1s;
	animation-composition: accumulate;
	animation: 0.1s ease-in forwards ungrow;
}

.player-name:focus {
	background: rgba(0, 0, 0, 0.1);
}

.player-name.won {
	animation: 0.25s ease-in forwards grow, 1s ease-in-out pulse infinite, 3s ease-in-out shake infinite;
}

.player-name.init {
	animation: none !important;
}

@keyframes ungrow {
	0% {
		transform: scale(3);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes grow {
	100% {
		transform: scale(3);
	}
}

@keyframes pulse {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(2);
	}
}

@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	5% {
		transform: rotate(-5deg);
	}
	10% {
		transform: rotate(+5deg);
	}
	15% {
		transform: rotate(-5deg);
	}
	20% {
		transform: rotate(+5deg);
	}
	25% {
		transform: rotate(0deg);
	}
}
